* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(/static/images/myranch.jpg); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
}

.txt h1, .txt p {
    text-align: center;
    font-size: 250%;
    margin: auto;
}

.txt {
    margin-top: 20px;
    margin-bottom: 20px; /* Space between the text and buttons */
}

.button-container {
    margin-top: -50px;
    margin-bottom: 20px; /* Space between buttons */
    display: flex;
    justify-content: space-between; /* Distribute space between the buttons */
    align-items: center; /* Align items vertically centered */
    height: 100vh; /* Full height of the viewport */
    padding: 25px;
}

.ImgBtn {

    display: block; /* Use block to stack elements vertically */
    margin: -10px 0;  /*Adjust margin as needed */

    font-size: 73%;
    border-radius: 20px;
    display: inline-block;
    padding: 20px;
    background-color: #2e6d30ce;
    color: white;
    text-align: left;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 320px;
    height: 220px;
}

.ImgBtn:hover {
    background-color: #45a049;
}

.ImgBtn img {
    position: relative;
    width: 130px;
    height: 100px;
}

.ImgBtn h1,
.ImgBtn p {
    margin: 10px 0;
    text-align: right;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center elements horizontally */
}

.AddR {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 50px; /* Height of the button */
    width: auto; /* Adjust width as needed */
    background: rgba(254, 164, 62, 0.749);
    text-decoration: none;
    padding: 12px 34px;
    font-size: 13px;
    cursor: pointer;
}

.AddR:hover {
    background: rgba(251, 147, 27, 0.749);
    transition: 1s;
}

.AddR a {
    color: white; /* Make text white for better contrast */
    text-decoration: none; /* Remove underline */
}

.AddR a:hover {
    text-decoration: underline; /* Underline text on hover */
}

.SO {
    margin-top: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.SO a {
    color: darkgoldenrod;
}