* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(rgba(54, 113, 34, 0.279), rgba(54, 151, 22, 0.279)), url(/static/images/myranch.jpg); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
}

.txt h1, .txt p {
    text-align: center;
    font-size: 250%;
    margin: auto;
}

.txt {
    margin-top: 20px;
    margin-bottom: 20px; /* Space between the text and buttons */
}

.button-container {
    margin-top: -50px;
    margin-bottom: 20px; /* Space between buttons */
    display: flex;
    justify-content: space-between; /* Distribute space between the buttons */
    align-items: center; /* Align items vertically centered */
    height: 100vh; /* Full height of the viewport */
    padding: 25px;
}

.ImgBtn {

    display: block; /* Use block to stack elements vertically */
    margin: -10px 0;  /*Adjust margin as needed */
    font-size: 73%;
    border-radius: 20px;
    display: inline-block;
    padding: 20px;
    background-color: #2e6d30ce;
    color: white;
    text-align: left;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 320px;
    height: auto;
}

.ImgBtn:hover {
    background-color: #45a049;
}

.ImgBtn img {
    position: relative;
    width: 130px;
    height: 100px;
}

.ImgBtn h1,
.ImgBtn p {
    margin: 10px 0;
    text-align: right;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center elements horizontally */
}

#AddR {
    margin-left: 50px;
    font-size: 150%;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(254, 164, 62, 0.749);
    color: white;
    text-align: left;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    height: auto;
}

#AddR a {
    color: azure;
}

.SO {
    margin: 30px 0 0 30px;
    position: absolute;
    top: 10px;
    left: 10px;

    border-radius: 20px;
    padding: 20px;
    background-color: rgba(247, 27, 27, 0.749);
    text-align: center;
    border: none;
    transition: background-color 0.3s ease;
    width: auto;
    height: auto;
}

.SO a {
    color: white;
}