<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myranch</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" > 
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/Formmyranch.css')}}" >
</head>
<body>
    
    <div class="row">
      <h1 class="col-12">Bienvenido a tu rancho {{user}}</h1>
    
     
      <p class="col-12 text-center"><a href="/mycattle" >MyCattle</a></p>
    </div>
      <form id="ranchForm">
          <label for="street">Calle:</label>
          <input type="text" id="street" name="street" required><br>
  
          <label for="city">Ciudad:</label>
          <input type="text" id="city" name="city" required><br>
  
          <label for="state">Estado:</label>
          <input type="text" id="state" name="state" required><br>
  
          <label for="zipcode">Código Postal:</label>
          <input type="text" id="zipcode" name="zipcoWde" required><br>
  
          <button type="button" onclick="submitAddress()">Guardar Dirección</button>
      </form>
    

      <script>
          function submitAddress() {
             
              const street = document.getElementById('street').value;
              const city = document.getElementById('city').value;
              const state = document.getElementById('state').value;
              const zipcode = document.getElementById('zipcode').value;
  
             
              const addressData = {
                  street: street,
                  city: city,
                  state: state,
                  zipcode: zipcode
              };
  
              
              console.log("Datos de la dirección:", addressData);
              alert("Dirección guardada correctamente!");
          }
      </script>
    
</body>
</html>