<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainpage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/stylemain.css')}}">
</head>
<body>
    <article id="Home">
    <header class="header">
        <div class="menu container">
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="{{ url_for('static', filename = 'images/CowLogo.png')}}" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="#Home">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#Ourcows">OurCows</a></li>
                    <li><a href="#AboutUs">Contact Us</a></li> 
                    <li><a href="/signuplogin">Sign Up</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-content container">
            <h1>COWCULATOR</h1>
            <p>We are an association who seeks to cover and ameliorate the needs of cattle owners, making the process of diagnosing one’s cattle much cheaper, easier and faster.</p>
        </div>
    </header>
    </article>
    <article id="Ourcows">
        <section class="cow">
            <section class="cowtxt">
                <h1>Our Cows&nbsp&nbsp&nbsp&nbsp&nbsp</h1>
                <p>The cows we manage are:</p>
                <div class="cow-list">
                    <span id="breed1">-Charolais</span>
                    <span id="breed2">-Angus</span>
                    <span id="breed3">-Brangus</span>
                    <span id="breed4">-Hereford</span>
                    <span id="breed5">-Salers Limousin</span>
                <script src="{{ url_for('static', filename='js/mainpg.js') }}"></script>
                </div>
            </section>    
                <div class="cow-gif">
                    <img src="{{ url_for('static', filename = 'images/CowCarrosel.gif')}}" alt="Cattle GIF" class="full-gif">
                </div>
        </section>
    </article>

    <footer>
        <article id="AboutUs">
            <h1>About Us</h1>
            <img src="{{ url_for('static', filename = 'images/papus.png')}}"
            <p>pee pee poo poo</p>
        </article>
    </footer>
</body>
</html>
