<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainpage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/stylemain.css')}}">
</head>
<body>
    <header class="header">
        <div class="menu container">
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="{{ url_for('static', filename = 'images/CowsRendered_GIF.gif')}}" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#AboutUs">Contact Us</a></li> 
                    <li><a href="/signuplogin">Sign Up</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-content container">
            <h1>COWCULATOR</h1>
            <p>We are an association who seeks to cover and ameliorate the needs of cattle owners, making the process of diagnosing one’s cattle much cheaper, easier and faster.</p>
        </div>
    </header>

    <section class="cow">
               <div class="cow-gif">
            <img src="{{ url_for('static', filename = 'images/CowCarrosel.gif')}}" alt="Cattle GIF" class="full-gif">
        </div>
    </section>

    <footer>
        <article id="AboutUs">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni qui ipsa similique repudiandae soluta rem rerum exercitationem maxime reprehenderit minima facere porro...</p>
        </article>
    </footer>
</body>
</html>
