<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCattle</title>

    <link rel="stylesheet"  type="text/css"    href="{{ url_for('static', filename = 'css/StyleMyCattle.css')}}">

    <link rel="stylesheet"
        href="{{ url_for('static', filename = 'css/StyleMyCattle.css')}}">

     <link
     href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
        rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com"     crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700;800;900&display=swap"    rel="stylesheet">
    <script src="{{ url_for('static', filename = 'js/ScriptMyCattle.js')}}" defer> </script>
</head>
<body>
    <header>
        <h1 class="logo">Bienvenido a MyCattle Id:  {{id}} </h1>
        <ul class="navlist">
            <li><a href="/myranch">My Ranch</a></li>
            <li><a href="#" onclick="displayContent('content1')">Add Cows</a></li>
            <li><a href="#" onclick="displayContent('content3')">Transfer Cows</a></li>
            <li><a href="#" onclick="displayContent('content2')">Search Cows</a></li>
        </ul>

        <!-- <div class="bx bx-menu" id="menu-icon"></div> -->

    </header>

    <section class="model">
        <div class="model-text">

            <!--Vacas 
            
            
                    <option value="Angus" >Angus</option>
                    <option value="Brangus">Brangus</option>
                    <option value="Charolais">Charolais</option>
                    <option value="Hereford">Hereford</option>
                    <option value="Salers Limousin">Salers Limousin</option>
            
            
            Count-->
            <p>{{name}}</p>
            <div class="Contador">
                <h4 id = "h4">Total de Vacas: <span id = "contadorGlobal"> {{totalCows}}</span>
                Angus: <span id = "contadorAngus">{{totalAngus}}</span>
                Brangus: <span id = "contadorBrangus">{{totalBrangus}}</span>
                Charolais: <span id = "contadorCharolais">{{totalCharolais}}</span>
                Hereford: <span id = "contadorHereford">{{totalHereford}}</span> 
                Salers: <span id = "contadorSalers">{{totalSalers}}</span>
            </h4></div>
            <!-- <a href="#" class="ctaa"><i class="ri-play-fill"></i>que agrego aqui?</a> -->
        </div>

        
        <!-- <div class="model-img">
            <img src="{{ url_for('static', filename = 'images/cowcattle.png')}}" height="600px">
        </div> -->
            <div class="center">
                    <div id = 'showRecentCows'></div>
            </div>
<!-- Content for Right Side -->
            <!-- Add Cow Formulario-->
        <div class="right">
            <div id="content1" class="content">
                <form id = "cow_form">
                    <h2>Add Cow</h2>
                    <input type="text" placeholder="Name" id="name">
                    <input type="number" placeholder = "Age"  id = "age">
                    <select id="breed" type = ''>
                        <option value="" disabled selected>Select Breed</option>
                        <option value="Angus" >Angus</option>
                        <option value="Brangus">Brangus</option>
                        <option value="Charolais">Charolais</option>
                        <option value="Hereford">Hereford</option>
                        <option value="Salers Limousin">Salers Limousin</option>
                    </select>
                    <input type="number" placeholder = "Weight in Kg" id="weight">

                        <button type="button" onclick="addCow()">Add Cow</button>

                </form>
                        
                        <!--Display de vacas agregadas recientemente-->
                        <div id="addCowDisplay"></div>
                        <script src="{{ url_for('static', filename = 'js/MyCattlePopUp.js')}}"> </script>
            </div>

            <!-- Search Cow-->
            <div  id="content2" class="content" style="display:none;">
                <div id="searchCowContainer">
            
                    <form id = "searchCowForm">
                        <h2>Search Cow</h2>
                        <label for="cowId">Cow ID:</label>
                        <input type="number" placeholder="Enter a valid Cow Id" id="cowId" required>
                    
                        <button type="button" onclick="searchCow('cowId','showSearch')"> Search</button>

                    </form>

                    <div id = showSearch></div>

                </div>
                <script src="{{ url_for('static', filename = 'js/MyCattlePopUp.js')}}"> </script>
            </div>

            <div  id="content3" class="content" style="display:none;">    
                <div id="transferCowContainer">
                    <form id="transferCowForm">
                        <h2>Transfer Cow</h2>
                        <label for="cowTransferId">Cow ID:</label>
                        <input type="number" placeholder="Enter the Id of the Cow you want to transfer" id="cowTransferId" required>
                    
                        <button type="button" onclick="transferCow()"> Transfer</button>
                    </form>

                    <div id = showAvailableRanches></div>
                    <button class="closeModal">Close</button>                   
                    <script src="{{ url_for('static', filename = 'js/MyCattlePopUp.js')}}"> </script>
                </div>
            </div>
        <!-- <div>
       
            <form>
                <h6>Delete Cow</h6>
                <input type="number" placeholder="Enter the Id of the Cow you want to transfer" id="cowTransferId" required>
            
                <button type="button" onclick="transferCow()"> Search</button>

            </form>

            <div id = showAvailableRanches></div>

        </div> -->

    </section>

    <!-- <div class="icons">
        <a href="#"><i class="ri-instagram-line"></i></a>
        <a href="#"><i class="ri-youtube-line"></i></a>
        <a href="#"><i class="ri-dribbble-line"></i></a>
    </div> -->


    <!-- <div class="scroll-down">   
        <a href=""><i class="ri-arrow-down-s-fill"></i></a>
    </div> -->

    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- <script src="{{ url_for('static', filename = 'js/ScriptMyCattle.js')}}"> </script> -->
    <script>
        // script.js
function displayContent(contentId) {
    const contents = document.querySelectorAll('.content');
    contents.forEach(content => {
        content.style.display = 'none';
    });
    document.getElementById(contentId).style.display = 'block';
}
    </script>
    
</body>
</html>