<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyRanch</title>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700;800;900&display=swap"    rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/myranch.css')}}">
</head>
<body>

    <div class="container">
        <div class="SO"><a href="/signuplogin">Sign Out</a></div>
            <div class="txt">
                <h1>MyRanch</h1>
                <p>{{user}}'s Ranchs</p>
            </div>
                {%  for ranch in ranch_data %}

                <div class="button-container">
                    
                    <div class="ImgBtn" onclick="handleClick('{{ranch.FarmName}}','{{ranch.FarmID}}')">
                        <h1 >{{ranch.FarmName}}</h1>
                        {% if ranch.FarmImage %}
                        <img src="data:image/jpeg;base64,{{ ranch.FarmImage }}" alt="" />  
                        {%else %}
                        <img src="{{ url_for('static', filename = 'images/StolkImage1.jpeg')}}" alt="" /> 
                        {%  endif %}

                        <p>Location: {{ranch.Location}}</p> 
                        {%if ranch.TotalCows  != 0 %}
                        <p>Total Cows:  <span id = "{{ranch.FarmID}}">{{ranch.TotalCows}}</span></p>  
                        <p>Sick Cows: <span id = "{{ranch.FarmID+1}}">{{ranch.TotalSickCows}}   </span></p> 
                        {% endif %}                      
                    </div>

                    
                    {%  if (ranch_data | length ) < 3 and loop.index0 == (ranch_data | length) -1 %}
                    <div class="AddR"><a href="/formmyranch">+AddRanch</a></div>
                    {%  endif %}
                
                    {% endfor %}

                    {% if not ranch_data %}
                    <div class="AddR"><a href="/formmyranch">+AddRanch</a></div>
                    {%  endif %}

                </div>
                
    </div>
    <script src="{{ url_for('static', filename = 'js/scriptMyRanch.js')}}"> </script>
</body>
</html>
