<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyRanch</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/myranch.css')}}">
</head>
<body>

    <div class="container text-center d-flex justify-content-center align-items-center vh-100">
        <div>
            <h1>MyRanch</h1>
            <p>{{user}}'s Ranchs</p><br>

                {%  for ranch in ranch_data %}
                   
                    <div>
                            
                        <h1 >{{ranch.get('FarmName')}}</h1>
                        <img src="data:image/jpeg;base64,{{ ranch.get('FarmImage') }}"  />  
                        <p>Location: {{ranch.get('Location')}}</p>                         
                        <a href="/mycattle">Go to {{ranch.get('FarmName')}}</a>


                    </div>

                        
                        {%  if (ranch_data | length ) < 3 and loop.index0 == (ranch_data | length) -1 %}
                            <a href="/formmyranch">+AddRanch</a>
                        {%  endif %}

                {% endfor %}

                {% if not ranch_data %}
                    <a href="/formmyranch">+AddRanch</a>
                {%  endif %}
                
                
        </div>
    </div>
    
</body>
</html>
